{% extends "base.html" %}

{% block extra-css %}
    <style type="text/css">
        header h1 {
            font-size:70px;
            line-height:140%;
        }
        .step {
            width:80px;
            height:80px;
            border-radius:80px;
            text-align:center;
            color:white;
            background: #333;
            font-size:60px;
            line-height: 120%;
            margin-top:15px;
        }
        #step_1 {
            margin-top:40px;
        }
        #step_1 .control-label {
            width:62px;
        }
        #step_1 .controls {
            margin-left:85px;
        }
        #step_1 .control-group {
            margin-bottom:7px;
        }
        section {
            display:none;
        }
        section#step_1 {
            display:block;
        }
        div.progress.active {
            width:70px;
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>

    <script id="option_template" type="text/jst">
        <% _.each(options, function (option) { %>
            <option value="<%= option %>"><%= option %></option>
        <% }) %>
    </script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px; margin-bottom:40px">
    <header>
        <h1>shp2svg</h1>
        <p class="lead">Some text here lorem ipsum etc</p>
    </header>
    
    <section id="step_1">
        <div class="row">
            <div class="span2">
                <div class="step">1</div>
            </div>
            <div class="span6">
                <h2>Upload your shapefile</h2>

                <form class="form-horizontal" action="/upload_shape/" method="POST" id="files" >
                    {% csrf_token %}
                    
                    <p>Shapefiles come in four parts. Make sure to include the .dbf, .prj, .shp and .shx files. They should all have identical names.</p>

                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input style="margin-bottom:15px" required="required" type="text" id="name" name="name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="dbf">DBF File</label>
                        <div class="controls">
                            <input type="file" required="required" id="dbf" name="dbf" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="prj">PRJ File</label>
                        <div class="controls">
                            <input type="file" required="required" id="prj" name="prj" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="shp">SHP File</label>
                        <div class="controls">
                            <input type="file" required="required" id="shp" name="shp" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="shx">SHX File</label>
                        <div class="controls">
                            <input type="file" required="required" id="shx" name="shx" />
                        </div>
                    </div>
                    <div class="form-actions" id="step_1_submit">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
                <div class="progress progress-striped active" style="width: 50%; margin:0 auto; display:none" id="step_1_spinner">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="step_2">
        <div class="row">
            <div class="span2">
                <div class="step">2</div>
            </div>
            <div class="span6">
                <h2>Choose your options</h2>

                <form class="form-horizontal" action="/setup/" method="GET" id="options" >
                    <div style="display:none">
                        <input type="hidden" id="slug" name="slug" value="" />
                    </div>

                    <p>First, choose which attribute field you want to use to name your paths.</p>

                    <div class="control-group">
                        <label class="control-label" for="max_size">Key</label>
                        <div class="controls">
                            <select required="required" id="key" name="key">

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="max_size">Max size</label>
                        <div class="controls">
                            <input type="text" required="required" id="max_size" name="max_size" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="srid">SRID</label>
                        <div class="controls">
                            <input type="text" required="required" id="srid" name="srid" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="translate_x">Translate X</label>
                        <div class="controls">
                            <input type="text" id="translate_x" name="translate_x" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="translate_y">Translate Y</label>
                        <div class="controls">
                            <input type="text" id="translate_y" name="translate_y" />
                        </div>
                    </div>
                    <label class="checkbox">
                        <input id="centroid" name="centroid" type="checkbox" /> Include centroids
                    </label>
                    <div class="form-actions">
                        <button type="submit" class="btn">Submit</button>
                        <div class="progress progress-striped active" id="options_spinner" style="position:absolute; margin-left: 80px; margin-top: -24px; display:none;">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="step_3">
        <div class="row">
            <div class="span2">
                <div class="step">3</div>
            </div>
            <div class="span6">
                <h2>Preview your shapes</h2>
                <div id="svg"></div>
            </div>
        </div>
    </section>

    <section id="step_4">
        <div class="row">
            <div class="span2">
                <div class="step">4</div>
            </div>
            <div class="span6">
                <h2>Download</h2>
                <p>You can copy/paste the paths below, or download them as JSON or SVG files.</p>
                <textarea id="paths" style="width:100%; height:200px"></textarea>
                <button class="btn" type="button">JSON</button>
                <button class="btn" type="button">SVG</button>
            </div>
        </div>
    </section>
    <section id="error">
        <div class="alert alert-error" >
            <h4>Warning</h4>
            Something went wrong, please double check your options and try again.
        </div>
    </section>
</div>

<script>
    var option_template = _.template($('#option_template').html());
    var error_text = $('#error');

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var step_1_options = {
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            $('#step_1_submit button').attr('readonly', 'readonly');
            $('#step_1_spinner').show();
        },
        error: function () {
            error_text.show();
            $('#step_1_spinner').hide();
            $('#step_1_submit button').removeAttr('readonly');
        },
        success: function (data) {
            var data = JSON.parse(data);
            $('#slug').val(data.slug);
            var context = {
                options: data.fields
            };
            $('#key').html(option_template(context));
            $('#step_2').show();
            $('.form-actions#step_1_submit').hide();
            $('#step_1_spinner').hide();
            error_text.hide();
            return false
        }
    }; 

    $('#files').ajaxForm(step_1_options); 

    var step_2_options = {
        beforeSend: function () {
            $('#options_spinner').show();
        },
        error: function () {
            error_text.show();
            $('#step_3').hide();
            $('#step_4').hide();
            $('#options_spinner').hide();
        },
        success: function (response) {
            var response = JSON.parse(response);
            $('#step_3').show();
            $('#step_4').show();
            var svg = document.getElementById('svg');
            svg.innerHTML = '';
            var r = Raphael(svg, response.max_coords[0], response.max_coords[1])
            
            if (response.centroid) {
                for (var i in response.paths) {
                    r.path(response.paths[i].path).attr({
                        'fill': '#dddddd',
                        'stroke': '#ffffff',
                        'stroke-width': 1
                    }).toBack();
                    r.circle(response.paths[i].centroid[0], response.paths[i].centroid[1], 1.5).attr({
                        fill: '#000000',
                        'stroke-width': 0
                    }).toFront();
                }
            } else {
                for (var i in response.paths) {
                    r.path(response.paths[i]).attr({
                        'fill': '#dddddd',
                        'stroke': '#ffffff',
                        'stroke-width': 1
                    });
                }
            }
            error_text.hide();
            $('#options_spinner').hide();
            $('#paths').val(JSON.stringify(response.paths, null, 4));
        }
    };
    $('#options').ajaxForm(step_2_options);
</script>
{% endblock %}
