{% extends "base.html" %}

{% block extra-css %}
    <style type="text/css">
        header h1 {
            font-size:70px;
            line-height:140%;
        }
        .step {
            width:80px;
            height:80px;
            border-radius:80px;
            text-align:center;
            color:white;
            background: #333;
            font-size:60px;
            line-height: 120%;
            margin-top:15px;
        }
        #step_1 {
            margin-top:40px;
        }
        #step_1 .control-label {
            width:62px;
        }
        #step_1 .controls {
            margin-left:85px;
        }
        #step_1 .control-group {
            margin-bottom:7px;
        }
        section {
            display:none;
        }
        section#step_2 {
            display:block;
        }
        div.progress.active {
            width:70px;
        }
        .popover {
            text-align:center;
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px; margin-bottom:40px">
    <header>
        <h1><a style="color:inherit" href="/">shp2svg</a></h1>
        <p class="lead">Some text here lorem ipsum etc</p>
    </header>
    
    <h2>{{ name }}</h2>

    <section id="step_2">
        <div class="row">
            <div class="span2">
                <div class="step">1</div>
            </div>
            <div class="span9">
                <h2>Choose your options</h2>

                <form class="form-horizontal" action="/setup/" method="GET" id="options" >
                    <div style="display:none">
                        <input type="hidden" id="slug" name="slug" value="{{ slug }}" />
                    </div>

                    <p>First, choose which attribute field you want to use to name your paths.</p>

                    <div class="control-group">
                        <label class="control-label" for="max_size">Key <i class="icon-question-sign" data-placement="right" data-trigger="hover" data-original-title="Key" data-content="Choose one attribute from the shapefile to key your paths. There should be a unique name or value (like a FIPS code) for each polygon."></i></label>
                        <div class="controls">
                            <select required="required" id="key" name="key">
                            {% for i in fields %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="max_size">Max size &#42; <i class="icon-question-sign" data-placement="right" data-trigger="hover" data-original-title="Max Size" data-content="The maximum width (if the shapefile horizontal) or height (if it's vertical) in pixels."></i></label>
                        <div class="controls">
                            <input type="text" required="required" class="required digits" id="max_size" name="max_size" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="srid">SRID <i class="icon-question-sign" data-placement="right" data-trigger="hover" data-original-title="SRID" data-content="Choose an appropriate projection."></i></label>
                        <div class="controls">
                            <select id="srid" name="srid">
                                {% include 'srids.html' %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="translate_x">Translate X <i class="icon-question-sign" data-placement="right" data-trigger="hover" data-original-title="Translate X" data-content="Translate the paths along the x-axis."></i></label>
                        <div class="controls">
                            <input type="text" id="translate_x" class="digits" name="translate_x" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="translate_y">Translate Y <i class="icon-question-sign" data-placement="right" data-trigger="hover" data-original-title="Translate Y" data-content="Translate the paths along the y-axis."></i></label>
                        <div class="controls">
                            <input type="text" id="translate_y" class="digits" name="translate_y" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input id="centroid" name="centroid" type="checkbox" /> Include centroids
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Submit</button>
                        <div class="progress progress-striped active" id="options_spinner" style="position:absolute; margin-left: 80px; margin-top: -24px; display:none;">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="step_3">
        <div class="row">
            <div class="span2">
                <div class="step">2</div>
            </div>
            <div class="span9">
                <h2>Preview your shapes</h2>
                <div id="svg"></div>
            </div>
        </div>
    </section>

    <section id="step_4">
        <div class="row">
            <div class="span2">
                <div class="step">3</div>
            </div>
            <div class="span9">
                <h2>Get the paths</h2>
                <textarea id="paths" style="width:100%; height:300px"></textarea>
                <a href="#" id="download" class="btn">Download SVG</a>
            </div>
        </div>
    </section>
    <section id="error">
        <div class="alert alert-error" >
            <h4>Warning</h4>
            <span id="warning_text"></span>
        </div>
    </section>
</div>

<script>
    var error_text = $('#error');
    var warning_text = $('#warning_text');

    $('#options').validate();
    $('i').popover();

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    var step_2_options = {
        beforeSend: function () {
            $('#options_spinner').show();
        },
        error: function (error) {
            warning_text.html(error.responseText);
            error_text.show();
            $('#step_3').hide();
            $('#step_4').hide();
            $('#options_spinner').hide();
        },
        success: function (response) {
            var response = JSON.parse(response);
            $('#step_3').show();
            $('#step_4').show();
            $('#download').attr('href', response.url + '&format=svg');
            var svg = document.getElementById('svg');
            svg.innerHTML = '';
            var r = Raphael(svg, response.max_coords[0], response.max_coords[1])
            
            if (response.centroid) {
                for (var i in response.paths) {
                    r.path(response.paths[i].path).attr({
                        'fill': '#dddddd',
                        'stroke': '#ffffff',
                        'stroke-width': 1
                    }).toBack();
                    r.circle(response.paths[i].centroid[0], response.paths[i].centroid[1], 1.5).attr({
                        fill: '#000000',
                        'stroke-width': 0
                    }).toFront();
                }
            } else {
                for (var i in response.paths) {
                    r.path(response.paths[i]).attr({
                        'fill': '#dddddd',
                        'stroke': '#ffffff',
                        'stroke-width': 1
                    });
                }
            }
            error_text.hide();
            $('#options_spinner').hide();
            $('#paths').val(JSON.stringify(response.paths, null, 4));
        }
    };
    $('#options').ajaxForm(step_2_options);
</script>
{% endblock %}
